In [2]:
import os
import pandas as pd
os.chdir(r"C:\Users\user\jupyter\python\preprocessing\데이터")

In [3]:
df = pd.read_csv("온라인_판매기록.csv", engine = "python")

In [51]:
df['쇼핑몰'].unique()

array(['쿠팡', '위메프', '주식회사 펫츠비', '밍키스맘', '[고양]다니엘동물병원', '강아지왕국', '개명동물병원',
       '주식회사 펫뱅크', '독스파파', '퍼피아쇼핑몰', '텐바이텐', '1300k', '이리온 동물병원(청담점)',
       '까페멍', 'GALAXYPET', '아모르디', '[안산]미유펫', '유집사네개들', '선진펫', '자인 멍멍이네',
       '[경남 진주] 야옹아 멍멍해봐', '빅브라더', '스누피동물병원', '펫앤비코리아', '펫누리(펫클럽)',
       '멍냥이네', '컴패니언', '인터펫코리아', '오독오독', '딩동이네', '도꾸도꾸', '수호동물병원', '코코마펫',
       '그린펫', '코리아대동', '데일리독', '줄서는집', '폴리파크', 'KPET', '올라인', '펫스토어',
       'Kopet', 'US글로벌', '[대리점]빛돌 커뮤니케이션', '신세계이마트', '아이꾸러미', '하나유통',
       '올치', '에스이랜드', '위더스(윈리엔)', '펫모두(누리보듬)', '애니피아동물병원', 'POOM(아트박스)',
       '인브로스', '딱펫', '메리멍', '펫프렌즈', '강아지대통령', '펫클럽(남양주)', '엔빵',
       '[대리점]수진유통', '오렌지펫', '라임동물병원', '더독몰-반포샵', '도그씨', '기프트펫', '카카오선물하기',
       '(주)신일코리아아울렛펫코', '강사모 백화점 원종점', '강아지와요와요', '애니펫동물병원(수지)',
       '이리온동물병원(판교)', '나라애견', '도그스푼', '아로하플라워', '아트박스 오프라인', '에버펫동물병원',
       '속초애견프라자', '마곡나무동물병원', '몬스터펫샵 분당오포좀', '리오펫', '모모펫살롱', '워킹펫',
       '펫하우스', '이쁘개귀엽냥', '헬로아이엠', '파트라슈', '드림동물병원', '금천 24시 k동물의료센터',
       '아프지말게동물병원', '범서조은동물병원', '핑크애견', '두잇', '이누&네꼬petshop', '한마음애견용품',
       '애니멀푸드', '엠에스유통', '태진상사', '펫동산', '바르다펫', '에이원동물병원', '이랜드몰',
       '애견아우랫'], dtype=object)

In [53]:
pt1 = pd.pivot_table(df, index = ['제품'], columns = ['쇼핑몰 유형'], values = '판매금액', aggfunc = 'sum')
pt1.shape
pt2 = pd.pivot_table(df, index = ['제품','쇼핑몰 유형'] , values = ['수량', '판매금액'], aggfunc = 'sum')
# 차이점 multi index를 가지냐 가지지 않느냐. multi index는 나중에 시각화나 전처리할 때 번거로울 수 있기 때문에 그냥 single index를 사용해보자. 
pt2

               수량     판매금액
제품    쇼핑몰 유형
제품_01 동물병원     57  4172400
      온라인II    33  2415600
      온라인사이트  108  7905600
      유통대리점    64  4684800
      전시회      15  1098000
...           ...      ...
제품_99 유통대리점    23   439300
      전시회      14   267400
      쿠팡       44   840400
      할인점       9   171900
      할인점II     6   114600

[762 rows x 2 columns]

In [38]:
pt2 = pd.pivot_table(df, index = ['제품', '쇼핑몰 유형'],values = ['판매금액', '수량'], aggfunc = 'mean')
pt2.loc['제품_02'] # 한가지 차이점. sinle index는 모든 제품에 대하여 쇼핑몰 유형을 보여주어야 하기 때문에 결측치가 존재할 수 있다. 


# multi index는 각 제품별로 판매되었던 쇼핑몰 유형만을 보여 줄 수 있다.

              수량      판매금액
쇼핑몰 유형
동물병원    4.933333   79920.0
온라인II   6.666667  108000.0
온라인사이트  4.000000   64800.0
유통대리점   5.500000   89100.0
전시회     9.000000  145800.0
쿠팡      6.000000   97200.0
할인점     4.500000   72900.0

In [52]:
df.groupby(['제품', '쇼핑몰 유형'], as_index =True)['판매금액', '수량'].mean()

<ipython-input-52-d52c14edc587>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['제품', '쇼핑몰 유형'], as_index =True)['판매금액', '수량'].mean()

                  판매금액        수량
제품    쇼핑몰 유형
제품_01 동물병원    463600.0  6.333333
      온라인II   483120.0  6.600000
      온라인사이트  395280.0  5.400000
      유통대리점   390400.0  5.333333
      전시회     366000.0  5.000000
...                ...       ...
제품_99 유통대리점    87860.0  4.600000
      전시회      66850.0  3.500000
      쿠팡       76400.0  4.000000
      할인점      85950.0  4.500000
      할인점II   114600.0  6.000000

[762 rows x 2 columns]

In [26]:
pt3 = pd.pivot_table(df, index = ['제품'], columns = ['쇼핑몰 유형'],values = ['판매금액', '수량'], aggfunc = 'mean')
pt3.loc["제품_02"]

      쇼핑몰 유형
수량    동물병원           4.933333
      온라인II          6.666667
      온라인사이트         4.000000
      유통대리점          5.500000
      전시회            9.000000
      쿠팡             6.000000
      할인점            4.500000
      할인점II               NaN
판매금액  동물병원       79920.000000
      온라인II     108000.000000
      온라인사이트     64800.000000
      유통대리점      89100.000000
      전시회       145800.000000
      쿠팡         97200.000000
      할인점        72900.000000
      할인점II               NaN
Name: 제품_02, dtype: float64