In [2]:
import os
import pandas as pd
os.chdir(r"C:\Users\user\jupyter\python\preprocessing\데이터")

In [3]:
df = pd.read_csv("온라인_판매기록.csv", engine = "python")

df['제품'].unique()

In [5]:
df.groupby(['쇼핑몰 유형'])['수량'].mean()
# 쇼핑몰 유형에 따른 수량의 평균.
#Name이 수량이라는 점. series라는 점.

쇼핑몰 유형
동물병원      5.512889
온라인II     5.807143
온라인사이트    5.477670
유통대리점     5.493333
전시회       5.556701
쿠팡        5.396389
할인점       5.288525
할인점II     5.469565
Name: 수량, dtype: float64

In [6]:
df.groupby(['쇼핑몰 유형'], as_index = False)['수량'].mean()

   쇼핑몰 유형        수량
0    동물병원  5.512889
1   온라인II  5.807143
2  온라인사이트  5.477670
3   유통대리점  5.493333
4     전시회  5.556701
5      쿠팡  5.396389
6     할인점  5.288525
7   할인점II  5.469565

In [7]:
df.groupby(['쇼핑몰 유형'])['수량', '판매금액'].agg(['mean', 'max'])
# 동시에 두개 함수 사용하기 위해서는 agg 함수 사용.

<ipython-input-7-18530cdad743>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['쇼핑몰 유형'])['수량', '판매금액'].agg(['mean', 'max'])

              수량               판매금액
            mean max           mean      max
쇼핑몰 유형
동물병원    5.512889  10  439390.844444  1515000
온라인II   5.807143  10  475726.428571  1530000
온라인사이트  5.477670  10  454746.019417  1533000
유통대리점   5.493333  10  462627.384615  1530000
전시회     5.556701  10  447135.051546  1486000
쿠팡      5.396389  10  433447.802198  1533000
할인점     5.288525  10  427162.295082  1533000
할인점II   5.469565  10  440754.782609  1515000

In [27]:
def my_func(value):
    return max(value) - min(value)

df.groupby(['제품', '쇼핑몰 유형'])['수량', '판매금액'].agg(['mean', my_func])
# my func의 인자로는 수량과 판매금액이 들어가게 된다.

<ipython-input-27-fd7f68668715>:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['제품', '쇼핑몰 유형'])['수량', '판매금액'].agg(['mean', my_func])

                    수량              판매금액
                  mean my_func      mean my_func
제품    쇼핑몰 유형
제품_01 동물병원    6.333333       7  463600.0  512400
      온라인II   6.600000       5  483120.0  366000
      온라인사이트  5.400000       9  395280.0  658800
      유통대리점   5.333333       9  390400.0  658800
      전시회     5.000000       3  366000.0  219600
...                ...     ...       ...     ...
제품_99 유통대리점   4.600000       7   87860.0  133700
      전시회     3.500000       5   66850.0   95500
      쿠팡      4.000000       7   76400.0  133700
      할인점     4.500000       5   85950.0   95500
      할인점II   6.000000       0  114600.0       0

[762 rows x 4 columns]